<footer class="footer">
  <div class="container-fluid">
    <div class="footer__inner">
      <div class="footer__content">
        <div class="footer__white-box">
          <a class="logo-link" href="#">
            <img class="footer__logo" src="images/logo.svg" alt="logo">
          </a>
          <span class="slogan">HighRisk - берем на себя</span>
          <div class="socials">
            <a class="socials-link" href="#">
              <img class="socials-img" src="images/social-telegram.svg" alt="telegram">
              paykaccamng
            </a>
            <a class="socials-link" href="#">
              <img class="socials-img" src="images/social-site.svg" alt="site">
              paykacca.io
            </a>
            <a class="socials-link" href="#">
              <img class="socials-img" src="images/social-mail.svg" alt="mail">
              @paykass.ru
            </a>
          </div>
        </div>
        <div class="footer__blue-box">
          <h3 class="footer__title">Получите самое выгодное предложение на рынке прямо сейчас</h3>
          <form action="#" class="footer__form">
            <input class="footer__form-input" type="text" placeholder="Ваш телеграм">
            <input class="footer__form-input" type="text" placeholder="Почта">
            <button class="btn btn-orange footer__form-btn" type="submit">
              Подлючить магазин
              <span class="circle-blue">
                <svg class="plus">
                  <use xlink:href="#plus"></use>
                </svg>
              </span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
</div>
<script src="libs/jquery/jquery.js"></script>
<script src="libs/swiper/swiper-bundle.min.js"></script>
<script src="libs/slick/slick.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>