<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PayKacca</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" href="css/style.css">
</head>

<body class="body" id="body">
  <div class="wrapper">
    <div class="burger__menu" id="burger-menu">
      <a class="logo-link" href="#">
        <img class="header__logo" src="images/logo.svg" alt="logo">
      </a>
      <ul class="nav">
        <li class="nav__item"><a class="nav__item-link" href="#">о сервисе</a></li>
        <li class="nav__item"><a class="nav__item-link" href="#">тарифы</a></li>
        <li class="nav__item"><a class="nav__item-link" href="#">Документация</a></li>
        <li class="nav__item"><a class="nav__item-link" href="#">Контакты</a></li>
      </ul>
      <div class="burger-menu__btns">
        <a class="login" href="#">Войти</a>
        <a class="btn btn-blue" href="#">
          Подлючить магазин
          <span class="circle-orange">
            <svg class="plus">
              <use xlink:href="#plus"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>